---
import MainLayout from '../layouts/MainLayout.astro';
import Rollbar from '../components/Rollbar.astro';
---

<MainLayout title="测试Rollbar组件">
  <div id="top"></div>
  <h1>测试Rollbar组件</h1>
  <p>滚动页面查看右侧的Rollbar组件是否正常显示图标。</p>
  
  <div style="height: 200vh;">
    <p>请向下滚动以测试返回顶部功能</p>
  </div>
</MainLayout>